   ul {
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
  }
  div ul li ul {
    display: none;
  }
  div ul span {
    vertical-align: super;
  }
  
  .material-icons{
    color: #b1b1b1;
  }
  .material-icons.folder{
    color: #eebd1d;
  } 
 .visible{
    display: block;
  }
