body {
  background: rgba(198, 238, 252, 0.53); }
  body div#content {
    height: 2600px;
    display: block;
    background: #3b3b3b;
    margin: 0 10%;
    padding: 5px 20px;
    color: white; }
    body div#content h1 {
      color: #fccd10;
      display: block;
      text-transform: uppercase;
      text-align: center; }
    body div#content h2 {
      color: #fccd10; }
    body div#content .img-left {
      display: block;
      float: left;
      margin: 0px 15px 10px 0px;
      padding: 2px;
      border: 2px solid #fccd10;
      width: auto; }
    body div#content .img-right {
      display: block;
      float: right;
      padding: 2px;
      margin: 0px 0px 10px 10px;
      border: 2px solid #fccd10; }
  body table {
    border: #94a34e;
    background: #677d01;
    width: 95%; }
    body table th, body table td {
      border-bottom: 1px solid #94a34e;
      padding: 10px 0 10px 20px; }
    body table caption {
      text-align: right;
      color: #000000; }
    body table th {
      text-transform: uppercase;
      background-color: #94a34e;
      text-align: left;
      font-weight: normal; }
  body p {
    font-size: 16px; }
  body a {
    color: #f5c70f; }
  body .brief {
    display: inline-block;
    float: left;
    background-color: #fff178;
    width: 96%;
    margin: 0 0 40px 0;
    padding: 20px 20px;
    color: #000000; }
  body form {
    color: #fccd10;
    margin-left: -5px;
    width: 106%; }
    body form label[for=fname] {
      display: block;
      float: left;
      margin-left: 5px; }
    body form input[type=text] {
      width: 46.2%;
      display: block;
      float: left;
      margin: 5px 0 5px 5px;
      border: 1px solid #94a34e;
      padding: 5px; }
    body form label[for=lname] {
      display: block;
      float: left;
      margin-left: 44.5%; }
    body form label[for=email] {
      display: block;
      float: left;
      margin-left: 5px; }
    body form input[type=email] {
      width: 94%;
      display: block;
      float: left;
      margin: 5px 0 5px 5px;
      border: 1px solid #94a34e;
      padding: 5px; }
    body form label[for=mark] {
      display: block;
      float: left;
      margin-top: 6px;
      margin-left: 5px; }
    body form input[name="mark"] {
      width: 94%;
      display: block;
      float: left; }
    body form label[for=subject] {
      display: block;
      float: left;
      margin-left: 5px; }
    body form textarea[id=subject] {
      display: block;
      float: left;
      width: 94%;
      height: 120px;
      margin: 5px 0 5px 5px;
      border: 1px solid #94a34e;
      padding: 5px; }
    body form input[type=submit] {
      font-size: 16px;
      display: block;
      float: left;
      background-color: #3b3b3b;
      border: 1px solid #f5c70f;
      color: #f5c70f;
      padding: 14px 70px;
      text-decoration: none;
      margin: 20px 0 0 5px;
      cursor: pointer; }
