body {
  padding: 0;
  margin: 0;
  background-color: rgb(140, 176, 197);
}
.hidden {
  /* visibility: hidden; */
  display: none;
}
h1 {
  color: white;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 80%;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
.wrapper {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
input[type="text"] {
  width: 100%;
  border: 2px solid rgb(89, 224, 172);
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;
}
input[type="text"]:focus {
  border: 3px solid rgb(255, 108, 108);
}
button {
  background-color: rgb(89, 224, 172);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
#error {
  color: rgb(194, 67, 67);
  width: 100%;
  text-align: center;
  font-size: 24px;
}
#validationText {
  color: rgb(0, 99, 0);
  width: 100%;
  text-align: center;
  padding-top: 0;
  font-size: 24px;
}
#googleMap {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
div {
  box-sizing: border-box;
}
#loader {
  height: 50px;
  margin: 0 auto;
  width: 50%;
  padding: 10px 15px 0 15px;
  margin-bottom: 20px;
}
.circle {
  border-radius: 50%;
  border: 3px #ffffff solid;
  float: left;
  height: 50px;
  margin: 0 5px;
  width: 50px;
}
.circle-1 {
  animation: move 1s ease-in-out infinite;
}
.circle-1a {
  animation: fade 1s ease-in-out infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.circle-2 {
  animation: move 1s ease-in-out infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60px);
  }
}
.circle-1a {
  margin-left: -55px;
  opacity: 0;
}
.circle-3 {
  animation: circle-3 1s ease-in-out infinite;
  opacity: 1;
}
@keyframes circle-3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
