$canvas-color: rgba(198, 238, 252, 0.53);
$text-block-color: #fff178;
$background-color: #3b3b3b;
$headings-color: #fccd10;
$form-color:#94a34e;
$someColor: #677d01;
$links-color: #f5c70f;
$table-head-color: #fccd10;
$text-color: white;

$text-color2: #000000;
$textTransform: uppercase;
$content-margin: 0 10%;
$fSize: 16px;
$briefWidth: 96%;
$briefMargin: 0 0 40px 0;
$buttonBack: #3b3b3b;
$tabbleWidth: 95%;
$formWidth: 106%;