$canvas-color: #dcbb9a;
$text-block-color: #fadcba;
$background-color: #ffffff;
$headings-color: #893c00;
$text-color: #000000; 
$links-color: #3d70a1; 
$form-color: #e0e0e0;
$table-head-color: #808080;

$fSize: 16px;
$briefWidth: 40%;