// General
@import './styles/fonts';
@import './styles/colors';

.container {
    padding: 0;
    margin: 0;

}
.selected-container {
    position: relative;
    bottom: 10px;
}
.empty-item {
    position: absolute;
    right: -6px;
    top: 1px;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fff;
    &:first-child {
      right: 43px;
      border-color: #c3d8f7;
      z-index: -3;
    }
    &:nth-child(2) {
      right: 19px;  
      border-color: #3d5a94;
      z-index: -2;
    }
    &:nth-child(3) {
      border-color: #3a4a6d;
      z-index: -1;
    }
  }
.selected-item {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    float: right;
    position: relative;
    margin-right: -6px;
    
}
.selected-item .material-icons {
    position: absolute;
    top: -3px;
    left: -4px;
    background-color: red;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    z-index: 5;
    padding-right: 2px;
    padding-top: -1px;
    cursor: pointer;
}
.colors-table {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.color-item {
    width: 220px;
    height: 150px;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    .add-icon {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background-color: white;
        border-radius: 9px;
        width: 70px;
        cursor: pointer;
        .material-icons {
            margin: 5px 0 0 0;
            font-size: 16px;
        }
        span {
            position: relative;
            bottom: 3px;
            left: 3px;
        }
    }
}
.input {
    border: none;
    height: 40px;
    width: 300px;
    margin: 20px 0 0 20px;
    font-weight: bold;
    font-size: 16px;
    &:focus {
        outline: none;
    }
}

.selected-container {
    float: right;
    position: relative;
    height: 50px;
    margin: 30px 20px 0 0;
}
.amount {
    position: absolute;
    top: 75px;
    right: 40px;
    text-align: center;
    font-size: 20px;
    color: rgba(90, 88, 88, 0.6);
    font-weight: bold;

}
.error-message {
    text-align: center;
    font-size: 24px;
    color: rgba(128, 123, 123, 0.3);
    margin-top: 50px;
}